---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<!-- commenting the automatic code for teaching -->
<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
<div class="content-container">
  <h2>Instructor</h2> 

  Introduction to Marketing  (Fall 2023) <br/>
  - <i> Rating: 4.62/5</i><br/>
  
  Introduction to Marketing (Fall 2022) <br/>
  - <i> Rating: 4.66/5</i>
  
  <h2>Teaching Assistant</h2> 

  Digital and Social Media Marketing (Spring 2024) for Dr. Yue Wu <br/>
  <br></br>
  Introduction to Marketing (Fall 2022) for Dr. Kiersten Maryott

  
  <!-- <table class="hidden-border-table">
    <tr>
      <td>Digital and Social Media Marketing (Spring 2024) for Dr.Yue Wu</td>
    </tr>
    <tr>
      <td>Introduction to Marketing (Fall 2022) for Dr.Kiersten Maryott</td>
    </tr>
  </table> -->
</div>
