---
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<!-- commenting the automatic code for teaching -->
<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
<div>
  <h2>Instructor</h2> 

  <div class="teaching-entry">
    Introduction to Marketing  (Fall 2023) <br/>
    - <i> Rating: 4.62/5</i><br/>
  </div>
  <div class="teaching-entry">
    Introduction to Marketing (Fall 2022) <br/>
    - <i> Rating: 4.66/5</i>
  </div>
  
  <h2>Teaching Assistant</h2> 

  <div class="teaching-entry">
    Digital and Social Media Marketing (Spring 2024) for Dr. Yue Wu
  </div>
  <div class="teaching-entry">
    Introduction to Marketing (Fall 2022) for Dr. Kiersten Maryott
  </div>

  
  <!-- <table class="hidden-border-table">
    <tr>
      <td>Digital and Social Media Marketing (Spring 2024) for Dr.Yue Wu</td>
    </tr>
    <tr>
      <td>Introduction to Marketing (Fall 2022) for Dr.Kiersten Maryott</td>
    </tr>
  </table> -->
</div>
